* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(11, 12, 12);
    padding: 15px;
    border-bottom: 15px solid rgb(0, 94, 165);
}

.icon {
    display: flex;
    color: #ffffff;
    text-transform: uppercase;
}

.icon img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.icon h1 {
    font-size: 40px;
}

.search input {
    height: 50px;
    border-radius: 7px;
    border-top: 5px solid black;
    padding-left: 15px;
    font-size: 18px;
    max-width: 200px;
    width: 100%;
}

.search {
    display: flex;
}

.search button {
    background-color: rgb(0, 94, 165);
    height: 50px;
    width: 50px;
    border: none;
    cursor: pointer;
}

.search button i {
    color: #ffffff;
    font-size: 24px;
}

.title {
    padding: 15px;
    font-size: 22px;
    color: rgb(51, 51, 51);
    border-bottom: 2px solid rgb(191, 193, 195);
    margin-bottom: 40px;
    font-weight: 400;
}

.title a {
    color: rgb(11, 12, 12);
    font-weight: 500;
}

main {
    border-bottom: 15px solid rgb(0, 94, 165);
}

main h1 {
    font-size: 65px;
    text-align: center;
    color: rgb(51, 51, 51);
    margin-bottom: 50px;
    font-weight: bold;
}

main p {
    color: rgb(51, 51, 51);
    font-size: 24px;
    font-weight: bold;
    padding-left: 40px;
    margin-bottom: 50px;
}

main .item {
    display: flex;
    margin-left: 15px;
    margin-bottom: 40px;
    border-bottom: 2px solid rgb(191, 193, 195);
    padding-right: 60px;
}

main .item:last-of-type {
    border-bottom: none;
}

main .item .profile {
    width: 90px;
    height: 90px;
}

main .item .card {
    width: 80px;
    height: 65px;
}

main .item .clock {
    width: 80px;
    height: 80px;
}

main .item p {
    color: rgb(51, 51, 51);
    font-size: 24px;
    padding-left: 50px;
    margin-bottom: 50px;
    font-weight: normal;
    margin-top: 30px;
}

main button {
    background-color: rgb(0, 130, 59);
    padding: 15px 30px;
    margin-left: 20px;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 80px;
    letter-spacing: 1px;
    border: none;
    box-shadow: 0px 2px 0px 0px #1b1b1b;
    cursor: pointer;
}

.blockInfo {
    padding: 40px 40px;
    background-color: rgb(222, 224, 226);
    color: rgb(51, 51, 51);
}

.blockInfo h2 {
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 10px;
}

.blockInfo a {
    color: #000000;
    display: block;
    margin-bottom: 25px;
    font-size: 20px;
}

.blockInfo p {
    margin-top: 15px;
    font-size: 28px;
    color: rgba(51, 51, 51, 0.644);
}

.line {
    background-color: rgb(191, 193, 195);
    height: 2px;
    width: 100%;
}

footer {
    padding: 50px 40px 80px;
    background-color: rgb(222, 224, 226);
}

.hrefs {
    display: block;
    line-height: 1.5;
}

.hrefs a {
    color: #000000;
    font-size: 20px;
    margin-right: 20px;
}

.hrefs span {
    color: rgb(51, 51, 51);
    font-size: 20px;
}

footer img {
    display: block;
    padding: 25px 0;
    height: 70px;
}

footer span {
    color: rgb(51, 51, 51);
    font-size: 20px;
    line-height: 1.5;
}

footer a {
    color: #000000;
    font-size: 20px;
}

footer .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .logo img {
    margin-top: 20px;
    width: 200px;
    height: 200px;
}

footer .logo span {
    color: #000000;
    font-size: 20px;
}

.header2page {
    display: flex;
    align-items: center;
    padding: 15px;
}

.header2page img {
    max-width: 100%;
    max-height: 100%;
    margin-right: 15px;
}

.header2page h2 {
    font-weight: 400;
}

.cookies {
    width: 100%;
    background-color: rgb(213, 232, 243);
    padding: 15px;
    border-bottom: 15px solid rgb(0, 108, 86);
}

.cookies span {
    color: rgb(51, 51, 51);
}

.cookies span a {
    color: rgb(52, 130, 188);
}

.page2title {
    padding: 50px 15px 60px;
    border-bottom: 2px solid rgb(191, 193, 195);
    margin-bottom: 25px;
}

.page2title h2 {
    color: rgb(111, 119, 123);
    font-weight: 400;
    font-size: 65px;
}

.page2title h1 {
    color: rgb(51, 51, 51);
    font-size: 65px;
}

.verify {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.verifyContainer {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 94, 165);
    border-top: 7px solid rgb(35, 31, 32);
    margin-bottom: 15px;
    padding: 50px;
}

.verifyContainer .img {
    display: flex;
}

.verifyContainer .img img {
    width: 90px;
    height: 90px;
}

.verifyContainer .img img:first-child {
    margin-right: 15px;
}

.verifyContainer h3 {
    display: flex;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 26px;
}

.verifyContainer h3 span {
    font-weight: 400;
    margin-left: 10px;
}

.data {
    margin-bottom: 30px;
    line-height: 1.5;
    padding: 15px;
}

.data p {
    font-size: 20px;
    color: rgb(51, 51, 51);
    margin-bottom: 15px;
}

.data h1 {
    font-size: 30px;
    font-weight: 400;
    color: rgb(51, 51, 51);
    margin-bottom: 15px;
}

.data p a {
    color: rgb(52, 130, 188);
}

.inputBlocks {
    padding: 15px;
    border-bottom: 15px solid rgb(0, 108, 86);
}

.inputBlocks h1 {
    color: rgb(35, 31, 32);
    margin-bottom: 35px;
}

.inputBlocks button {
    background-color: rgb(0, 130, 59);
    padding: 15px 30px;
    margin-left: 20px;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 80px;
    letter-spacing: 1px;
    border: none;
    box-shadow: 0px 2px 0px 0px #1b1b1b;
    cursor: pointer;
}

.inputBlock h2 {
    margin-bottom: 10px;
    color: rgb(35, 31, 32);
}

.inputBlock p {
    margin-bottom: 15px;
    font-size: 18px;
    color: rgb(35, 31, 32);
}

.inputBlock {
    margin-bottom: 25px;
}

.inputBlock input[type=text], .inputBlock input[type=number] {
    position: relative;
    width: 100%;
    border-radius: 5px;
    max-height: 50px;
    padding: 15px 10px;
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(51, 51, 51);
    border: 1px solid rgb(191, 193, 195);
    border-top: 4px solid #000000 !important;
}

.inputBlock span {
    color: rgb(111, 119, 123);
}

.inputBlock form {
    display: flex;
}

.inputBlock select {
    margin-bottom: 10px;
    border-radius: 5px;
    max-height: 50px;
    padding: 10px;
    border: 1px solid rgb(191, 193, 195);
    color: rgb(51, 51, 51);
    background-color: transparent;
    margin-right: 15px;
    width: 100%;
}

