* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    background-color: red;
    width: 562px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(11, 12, 12);
    padding: 15px 0;
    border-bottom: 10px solid rgb(0, 94, 165);
}

.icon {
    display: flex;
    color: #ffffff;
    text-transform: uppercase;
}
